<!DOCTYPE html>
<html>
    <body>
        <div class="my-container">
            <img class="battle" id="background_battle">
                <center class="my-form">
                    <div class="div_buttons-top-battle">
                        <a class="button-exit-tamagotchi" href='/tamagotchi'><i class="fas fa-times"></i></a>
                        <a class="button-exit-tamagotchi" onClick="logout()"><i class="fas fa-sign-out-alt"></i></a>
                        <a class="button-exit-tamagotchi" onClick="mute()"><i class="fas fa-volume-down"></i></a>
                    </div>
                    <div>
                        <img src="images/lucario.gif" class="lucario" id="lucario1"/>
                        <img class="mypokemon" id="myPoke"/>
                        <div class="div_status_lucario">
                            <a class="name_lucario">Lucario</a></br>
                             <progress class="progress" value="1000" max="1000" id="lucario"></progress>
                        </div>
                        <div class="div_status_mypokemon">
                            <a class="name_mypokemon" id="pokeName"></a></br>
                            <progress class="progress_mypokemon" value="100" max="100" id="pokemonLife"></progress>
                        </div>
                        <div class="div-button-battle">
                            <button class="button-circle" onClick="attack(0)" id=""><i class="fas fa-hand-rock"></i></button>
                            <button class="button-circle" onClick="attack(1)"><i class="fas fa-bolt"></i></button>
                        </div>
                    </div>
                <center>
        </div>
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/battle.js"></script>
    </body>
</html>