<!DOCTYPE html>
     <body>
        <div class="my-container">
             <div class="box">
                    <center class="my-form">
                        <a class="title">CEMETERY</a></br>
                            <div class="div-buttons-top">
                            <a class="button-exit-pets" href='/menu'><i class="fas fa-times"></i></a>
                            <a class="button-exit-pets" onClick="logout()"><i class="fas fa-sign-out-alt"></i></a>
                            <a class="button-exit-pets" onClick="mute()"><i class="fas fa-volume-down"></i></a>
                           </div>
                            <div id="pets">
                                <ul class="my-pets_list"> 
                                </ul>
                            </div>
                    </center>
            </div>
        </div>
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/cemetery.js"></script>
    </body>