<!DOCTYPE html>
     <body>
         <div class="my-container">
             <div class="box">
                    <center class="my-form">
                   <div class="div-buttons-coins">
                            <a class="button-exit-pet" href='/tamagotchi'><i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
                            <a class="button-exit-pet" onclick="logout()"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
                            <a class="button-exit-pet" onclick="mute()"><i class="fa fa-volume-off fa-lg" aria-hidden="true"></i></a>
                        </div>  
                            <div>
                                <a class="title_game">HEADS AND TAILS</a><br>
                               <img id="coin" class="coin1" src="images/coin2.gif">
                                    
                                    <div class="div-button_coins">
                                        <a class="result1" id="number">0</a><br>
                                        <a class="result1">Wins</a><br>
                                        <button type="button" class="my-button-form" onclick="playCoin(this)" id="head">Head</button>
                                        <button type="button" class="my-button-form" onclick="playCoin(this)" id="tail">Tails</button></br>
                                        <%# <button type="button" class="my-button-form" openclick="select(this)" id="">Play</button></br> %>
                                    </div>
                            </div>
                    </center>
            </div>
        </div>
        <script type="text/javascript" src="js/coin.js"></script>
    </body>