<!DOCTYPE html>
     <body>
         <div class="my-container">
             <div class="box">
                    <center class="my-form">
                   <div class="div-buttons-coins">
                            <a class="button-exit-pet" href='/tamagotchi'><i class="fas fa-times"></i></a>
                            <a class="button-exit-pet" onclick="logout()"><i class="fal fa-sign-out-alt"></i></a>
                            <a class="button-exit-pet" onclick="mute()"><i class="fas fa-volume-down"></i></a>
                        </div>  
                            <div>
                                <a class="title_game">HEADS AND TAILS</a><br>
                               <img id="coin" class="coin1" src="images/coin2.gif">
                                    
                                    <div class="div-button_coins">
                                        <div>
                                        <a class="result1" id="coin2"></a><br>
                                        <a class="result1" id="number"></a><br>
                                        <a class="result1" id="result"></a><br>
                                        <button type="button" class="my-button-coin" onclick="playCoin(this)" id="head">Head</button>
                                        <button type="button" class="my-button-coin" onclick="playCoin(this)" id="tail">Tails</button></br>
                                    </div>
                            </div>
                    </center>
            </div>
        </div>
        <script type="text/javascript" src="js/coin.js"></script>
    </body>