<!DOCTYPE html>
<html>
    <body>
        <div class="container">
                <img src="images/index.gif" class="gif">
                        <center class="form">
                        <a class="title">TAMAGOTCHI</a>
                        </br>
                        <div>
                        <input type="text" placeholder="Login" id="username" class="login">
                        </br>
                        <input type="password" placeholder="Password" id="password">
                        </br>
                        <button type="button" class="button" onClick="login()">Entrar</button>
                        <p><a href='/signup'>Crie uma conta!</a></p>
                        <center>
        </div>
        <script type="text/javascript" src="js/login.js"></script>
    </body>
</html>