<!DOCTYPE html>
<html>
    <body>
        <div class="container">
                <img src="images/index.gif" class="gif">
                        <center class="form">
                        <a class="title">TAMAGOTCHI</a>
                        </br>
                        <div>
                        <input type="text" placeholder="Login" class="login">
                        </br>
                        <input type="text" placeholder="Password">
                        </br>
                        <button type="button" class="button">Entrar</button>
                        <p><a href='/signup'>Crie uma conta!</a></p>
                        <center>
        </div>
    </body>
</html>