<!DOCTYPE html>
<html>
    <body>
        <div class="my-container">
                <img src="images/index.gif" class="gif">
                        <center class="my-form1">
                        <a class="title-index">TAMAGOTCHI</a>
                        </br>
                        <div>
                        <input type="text" placeholder="Login" id="username" class="login">
                        </br>
                        <input type="password" placeholder="Password" id="password">
                        </br>
                        <button type="button" class="my-button-form" onClick="login()">Entrar</button></br>
                        <p><a class="c-link" href='/signup'>Crie uma conta!</a></p>
                        <center>
        </div>
        <script type="text/javascript" src="js/login.js"></script>
    </body>
</html>