<!DOCTYPE html>
     <body>
        <div class="my-container">
             <div class="box">
                    <center class="my-form">
                   <div class="div-buttons-jakenpo">
                            <a class="button-exit-pet" href='/menu'><i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
                            <a class="button-exit-pet" onClick="logout()"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
                            <a class="button-exit-pet" onClick="mute()"><i class="fa fa-volume-off fa-lg" aria-hidden="true"></i></a>
                        </div>  
                            <div>
                             <a class="title_jakenpo">JAKENPO</a></br>
                                <img src="images/paper.gif" class="machine" onClick="select(this)" id="bulba">
                                     <a class="result">You Win !!</a></br>
                                    <div class="div_jakenpo">
                                         <img src="images/rock.gif" class="img_jakenpo" onClick="select(this)" id="bulba">
                                          <img src="images/paper.gif" class="img_jakenpo" onClick="select(this)" id="bulba">
                                           <img src="images/scissor.gif" class="img_jakenpo" onClick="select(this)" id="bulba"></br>
                                             <button type="button" class="my-button-form" openClick="select(this)" id="">JAKENPO</button>
                                    </div>
                            </div>
                    </center>
            </div>
        </div>
    </body>