<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Tamagotchi</title>
    <link href='css/index.css' type="text/css" rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body class='container'>
    <%= yield %>
    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script src="js/axios.min.js"></script>
  </body>
</html>