<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Tamagotchi</title>
    <link href='css/index.css' type="text/css" rel='stylesheet' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>
  <body class='container'>
    <%= yield %>
  </body>
</html>