<!DOCTYPE html>
     <body>
        <div class="container">
             <div class="box">
                    <center class="form">
                        <a class="title">MENU</a></br>
                            <div>
                                <a href='/newpets'>
                                <button class="btn-menu">Novo Pet</button>
                                </a>
                                </br>
                                <a href='/mypets'>
                                <button  class="btn-menu">Meus Pets</button>
                                </a>
                                </br>
                                <button  class="btn-menu">Inventario</button>
                                </br>
                                <a href='/ranking'>
                                <button class="btn-menu">Ranking</button>
                                </a>
                                </br>
                                <a href='/'>
                                <button  class="button">Sair</button>
                                </a>
                                </br>
                            </div>
                    </center>
            </div>
        </div>
    </body>