<!DOCTYPE html>
     <body>
        <div class="my-container">
             <div class="box">
                    <center class="my-form">
                    <a class="button-exit-menu" href='/tamagotchi'><i class="fas fa-times"></i></a>
                    <a class="button-exit-menu" onClick="logout()"><i class="fas fa-sign-out-alt"></i></a>
                    <a class="button-exit-menu" onClick="mute()"><i class="fas fa-volume-down"></i></a>
                            <div>
                                <a class="title">MENU</a></br>
                                </br>
                                <a href='/mypets'>
                                <button  class="btn-menu">My Pets</button>
                                </a>
                                </br>
                                <a href='/cemetery'>
                                <button  class="btn-menu">Cemetery</button>
                                </a>
                                </br>
                                <a href='/ranking'>
                                <button class="btn-menu">Ranking</button>
                                </a>
                                </br>
                            </div>
                    </center>
            </div>
        </div>
    </body>