<!DOCTYPE html>
     <body>
        <div class="container">
             <div class="box">
                    <center class="form">
                        <a class="title">PETS</a></br>
                            <div>
                                <ul class="list-group"> 
                                    <a href='/tamagotchi'>
                                        <li class="list-group-item" href='/tamagotchi'>
                                            <div class="row">
                                                <div class="col infopet">
                                                    <img src="images/snorlax.gif" class="gif_pet">
                                                </div>
                                                <div class="col infopet">
                                                    <a>Gordon</a>
                                                    </br>
                                                    <a>Faminto</a>
                                                    </div>
                                            </div>
                                        </li>
                                    </a>
                                    <a href='/tamagotchi'>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col infopet">
                                                    <img src="images/bulba.gif" class="gif_pet">
                                                </div>
                                                <div class="col infopet">
                                                    <a>Pistolinha</a>
                                                    </br>
                                                    <a>Normal</a>
                                                    </div>
                                            </div>
                                        </li>
                                    </a>
                                    <a href='/tamagotchi'>
                                        <li class="list-group-item" href='/tamagotchi'>
                                            <div class="row">
                                                <div class="col infopet">
                                                    <img src="images/gengar.gif" class="gif_pet">
                                                </div>
                                                <div class="col infopet">
                                                    <a>Samy</a>
                                                    </br>
                                                    <a>Cansado</a>
                                                    </div>
                                            </div>
                                        </li>
                                    </a>
                                </ul>
                            </div>
                    </center>
            </div>
        </div>
    </body>