<!DOCTYPE html>
<html>
    <body>
        <div class="container">
                <img src="images/index.gif" class="gif">
                        <center class="form">
                        <a class="title">Criar Pet</a>
                        </br>
                        <div>
                         <label for="nome"><p class="label_pet">Digite o nome do seu Pet</p></label>
                            <input id=nome type="text" placeholder="Nome do Pet">
                        </div>
                        </br>
                         <p class="input_ṕet">Selecione o seu Pet</p>
                        <div class="pets_list">
                            <img src="images/snorlax.gif" class="gif_pet select_pet" onClick="select(this)" id="snorlax">
                            <img src="images/bulba.gif" class="gif_pet select_pet" onClick="select(this)" id="bulba">
                            <img src="images/pikachu.gif" class="gif_pet select_pet" onClick="select(this)" id="pikachu">
                            <img src="images/gengar.gif" class="gif_pet select_pet" onClick="select(this)" id="gengar">
                            <img src="images/treecko.gif" class="gif_pet select_pet" onClick="select(this)" id="treecko">
                         </div>
                         </br>
                           <button type="" class="button" onClick="createPet()">Criar</button>  
            <center>
        </div>
        <script type="text/javascript" src="js/newpets.js"></script>
    </body>
</html>