<!DOCTYPE html>
<html>
    <body>
        <div class="my-container">
                <img src="images/index.gif" class="gif">
                        <center class="my-form1">
                        <a class="title-index">Criar Pet</a>
                        <a class="button-exit" href='/menu' id="exit"><i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
                        </br>
                        <div>
                         <label for="nome"><p class="label_pet">Digite o nome do seu Pet</p></label>
                            </br><input id=nome type="text" placeholder="Nome do Pet">
                        </div>
                        </br>
                         <p class="input_ṕet">Selecione o seu Pet</p>
                        <div class="pets_list">
                            <img src="images/bulbaV1.gif" class="gif_pet select_pet" onClick="select(this)" id="bulba">
                            <img src="images/charV1.gif" class="gif_pet select_pet" onClick="select(this)" id="char">
                            <img src="images/squirtleV1.gif" class="gif_pet select_pet" onClick="select(this)" id="squirtle">
                            <img src="images/pikachuV1.gif" class="gif_pet select_pet" onClick="select(this)" id="pikachu"></br>
                            <img src="images/chikoritaV1.gif" class="gif_pet select_pet" onClick="select(this)" id="chikorita"> 
                            <img src="images/totodileV1.gif" class="gif_pet select_pet" onClick="select(this)" id="totodile">  
                            <img src="images/cyndaquilV1.gif" class="gif_pet select_pet" onClick="select(this)" id="cyndaquil"> 
                            <img src="images/togepiV1.gif" class="gif_pet select_pet" onClick="select(this)" id="togepi"></br>
                            <img src="images/treeckoV1.gif" class="gif_pet select_pet" onClick="select(this)" id="treecko">
                            <img src="images/torchicV1.gif" class="gif_pet2 select_pet" onClick="select(this)" id="torchic">
                            <img src="images/mudkipV1.gif" class="gif_pet select_pet" onClick="select(this)" id="mudkip">
                            <img src="images/budewV1.gif" class="gif_pet2 select_pet" onClick="select(this)" id="budew">
                         </div>
                         <div>
                           <button type="button" class="my-button-form" onClick="createPet()">Criar</button></br>  
                        </div>
            <center>
        </div>
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/newpets.js"></script>
    </body>
</html>