<!DOCTYPE html>
     <body>
        <div class="container">
             <div class="box">
                    <center class="form">
                        <a class="title">RANKING</a></br>
                            <div>
                                <ul class="list-group"> 
                                    <a>
                                        <li class="list-group-item" href='/tamagotchi'>
                                            <div class="row">
                                                <div class="col image-pet-ranked">
                                                    <img src="images/snorlax.gif" class="gif_pet">
                                                </div>
                                                <div class="col infopet-ranking">
                                                    <a>Nome: Gordon</a></br>
                                                    <a>Idade: 12 dias 2 horas</a></br>
                                                    <a>Criador: Goias</a></br>
                                                    </div>
                                            </div>
                                        </li>
                                    </a>
                                    <a>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col image-pet-ranked">
                                                    <img src="images/bulba.gif" class="gif_pet">
                                                </div>
                                                <div class="col infopet-ranking">
                                                    <a>Nome: Pistolinha</a></br>
                                                    <a>Idade: 12 dias 2 horas </a></br>
                                                    <a>Criador: Nostradamus</a></br>
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                    <a>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col image-pet-ranked">
                                                    <img src="images/gengar.gif" class="gif_pet">
                                                </div>
                                                <div class="col infopet-ranking">
                                                    <a>Nome: Cereja</a></br>
                                                    <a>Idade: 5 dias </a></br>
                                                    <a>Criador: Lenini</a></br>
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                     <a>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col image-pet-ranked">
                                                    <img src="images/bulba.gif" class="gif_pet">
                                                </div>
                                                <div class="col infopet-ranking">
                                                    <a>Nome: Pistolinha</a></br>
                                                    <a>Idade: 12 dias 2 horas </a></br>
                                                    <a>Criador: Nostradamus</a></br>
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                     <a>
                                        <li class="list-group-item">
                                            <div class="row">
                                                <div class="col image-pet-ranked">
                                                    <img src="images/treecko.gif" class="gif_pet">
                                                </div>
                                                <div class="col infopet-ranking">
                                                    <a>Nome: Pistolinha</a></br>
                                                    <a>Idade: 12 dias 2 horas </a></br>
                                                    <a>Criador: Nostradamus</a></br>
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                 </ul>
                                 <a href='/menu'><button  class="button">Sair</button></a>
                            </div>
                    </center>
            </div>
        </div>
    </body>