<!DOCTYPE html>
     <body>
        <div class="my-container">
             <div class="box">
                    <center class="my-form">
                        <a class="title">RANKING</a></br>
                        <div class="div-buttons-top1">
                            <a class="button-exit-pet" href='/menu'><i class="fa fa-times fa-lg" aria-hidden="true"></i></a>
                            <a class="button-exit-pet" onClick="logout()"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
                            <a class="button-exit-pet" onClick="mute()"><i class="fa fa-volume-off fa-lg" aria-hidden="true"></i></a>
                        </div>   
                            <div id="pets">
                                <ul class="my-list-group"> 
                                 </ul>
                            </div>
                    </center>
            </div>
        </div>
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/ranking.js"></script>
    </body>