<!DOCTYPE html>
<html>
     <body>
        <div class="my-container">
             <div class="box">
                <form action='index' method='post'>
                    <center class="my-form">
                        <a class="title">Criar Conta</a></br>
                            <div>
                                <input type="text" placeholder="Login" id="username" class="input"></br>
                                <input type="password" placeholder="Senha" id="password"></br>
                                <input type="password" placeholder="Digite a senha novamente" id="confirmPassword"></br>
                                <button type="button" class="button" onClick="signup()">Confirmar</button>
                            </div>
                    </center>
                </form>
            </div>
        </div>
        <script type="text/javascript" src="js/signup.js"></script>
    </body>
</html>