<!DOCTYPE html>
<html>
     <body>
        <div class="my-container">              
            <div class="box">
                <form action='index' method='post'>
                    <center class="my-form">
                        <a class="title">Create an account</a></br>
                            <div>
                                <input type="text" placeholder="Login" id="username" class="input"></br>
                                <input type="password" placeholder="Password" id="password"></br>
                                <input type="password" placeholder="Type the password again" id="confirmPassword"></br>
                                <button type="button" class="my-button-form" onClick="signup()">Confirm</button>
                            </div>
                    </center>
                </form>
            </div>
        </div>
        <script type="text/javascript" src="js/signup.js"></script>
    </body>
</html>