<!DOCTYPE html>
<html>
    <body class='container'>
        <center>
        <div>
            <label for="Hunger"></label>
                <progress value='56' max= '100' id='Hunger'></progress>
            <label for="Energy"></label>
                <progress value='12' max= '100' id='Energy'></progress>
            <label for="Higiene"></label>
                <progress value='34' max= '100' id='Higiene'></progress>
            <label for="Fun"></label>
                <progress value='54' max= '100' id='Fun'></progress>
            <label for="Health"></label>
                <progress value='23' max= '100' id='Health'></progress>
        </div>
        <img src="images/giphy.gif" class="gif">
        </center>
    </body>
</html>