<!DOCTYPE html>
<html>
    <body>
        <div class="my-container">
            <img src="images/ambient.gif" class="gif">
                <center class="my-form">
                <a class="button-exit-tamagotchi" onClick="logout()"><i class="fas fa-sign-out-alt"></i></a>
                <a class="button-exit-tamagotchi" onClick="mute()"><i class="fas fa-volume-down"></i></a>
                    <div class="div-status-bar">
                    <a class="cash">Cash : 300 $</a>
                    <ul class="status-bar">
                        <li class="status">
                            <label for="health">HEALTH</label></br>
                            <progress class="progress_tamagotchi" value="100" max="100" id="health"></progress>
                        </li>
                         <li class="status">
                            <label for="happy">HAPPY</label></br>
                            <progress class="progress_tamagotchi" value="100" max="100" id="happy"></progress>
                        </li>
                        <li class="status">
                            <label for="hunger">HUNGER</label></br>
                            <progress class="progress_tamagotchi" value="100" max="100" id="hunger"></progress>
                        </li>
                         <li class="status">
                            <label for="tired">TIRED</label></br>
                            <progress class="progress_tamagotchi" value="100" max="100" id="energy"></progress>
                        </li>
                        <li class="status">
                            <label for="higiene">HIGIENE</label></br>
                            <progress class="progress_tamagotchi" value="100" max="100" id="higiene"></progress>
                        </li>
                    </ul>
                    </div>
                    <img class="gif-tamagotchi" id="pet">
                    <img class="gif-sleeping" src="images/sleeping.gif" id="sleeping">
                    <a class="name-pet" id="name"></a>
                     <div class="div-buttons">
                        <button class="button-circle" id="food" data-container="body" data-toggle="popover" data-placement="top"><i class="fas fa-utensils"></i></button>
                        <button class="button-circle" onClick="clean(30)"><i class="fa fa-bath" aria-hidden="true"></i></button>
                        <button class="button-circle" onClick="goSleep()"><i class="fa fa-bed" aria-hidden="true"></i></button>
                      <a href='/menu'><button class="button-circle-menu"><i class="fa fa-bars" aria-hidden="true"></i></button></a>
                        <button class="button-circle" id="store"  data-toggle="modal" data-target="#exampleModal"><i class="fas fa-store-alt"></i></button>
                        <button class="button-circle" id="game" data-container="body" data-toggle="popover" data-placement="top"><i class="fa fa-gamepad" aria-hidden="true"></i></button>
                        <button class="button-circle" id="info" data-container="body" data-toggle="popover" data-placement="top"><i class="fa fa-info" aria-hidden="true"></i></button>
                        <button class="button-circle" id="med" data-container="body" data-toggle="popover" data-placement="top"><i class="fa fa-medkit" aria-hidden="true"></i></i></button>
                    </div>
                <center>
                <div id="header-info" class="collapse">
                    <div class="header-pop">
                        <a>Info</a>
                    </div>
                </div>
                <div id="body-info" class="collapse">
                    <a class="font-pop">Name:&nbsp;</a>
                    <a class="font-pop"id="name1"></a></br>
                    <a class="font-pop">Stage:&nbsp;</a>
                    <a class="font-pop"id="state"></a></br>
                    <a class="font-pop">Weight: &nbsp;</a>
                    <a class="font-pop"id="weight"></a></br>
                    <a class="font-pop">Age: &nbsp;</a>
                    <a class="font-pop"id="age"></a>
                    <a class="font-pop">Days</a>
                </div>
                <div id="header-food" class="collapse">
                    <div class="header-pop">
                        <a>Food</a>
                    </div>
                </div>
                <div id="body-food" class="collapse">
                    <div class="body-food">
                        <img src="images/1.png" id="donuts" class="food" onclick="feed(10)" data-toggle="tooltip" data-placement="left" title="donuts">
                        <img src="images/2.png" id="pie" class="food" onclick="feed(20)" data-toggle="tooltip" data-placement="left" title="pie">
                        <img src="images/3.jpg" id="cake" class="food" onclick="feed(40)" data-toggle="tooltip" data-placement="left" title="cake">
                    </div>
                </div>
                 <div id="header-med" class="collapse">
                    <div class="header-pop">
                        <a>MedKit</a>
                    </div>
                </div>
                <div id="body-med" class="collapse">
                    <div class="body-food">
                        <img src="images/injection.gif" id="injection" class="food" onclick="heal(10)" data-toggle="tooltip" data-placement="left" title="injection">
                        <img src="images/pill.png" id="pill" class="food" onclick="heal(20)" data-toggle="tooltip" data-placement="left" title="pill">
                        <img src="images/sirup.gif" id="sirup.gif" class="food" onclick="heal(40)" data-toggle="tooltip" data-placement="left" title="sirup">
                    </div>
                </div>
                 <div id="header-game" class="collapse">
                    <div class="header-pop">
                        <a>Mini-Game</a>
                    </div>
                </div>
                <div id="body-game" class="collapse">
                    <div class="body-game">
                       <a onClick="coin()"><img src="images/coin.gif" id="coin" class="food" data-toggle="tooltip" data-placement="left" title="Heads and Tails"></a>
                        <a onClick="jankenpo()"><img src="images/jakenpo.png" id="jakenpo" class="food" data-toggle="tooltip" data-placement="left" title="Jakenpo"></a>
                        <a onClick="battle()"><img src="images/battle.gif" id="battle" class="food" data-toggle="tooltip" data-placement="left" title="Battle"></a>
                    </div>
                </div>
        </div> 
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <center>
                    <h5 class="modal-title modal-center" id="exampleModalLabel">Store</h5>
                    </center>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
               <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item active">
                        <a class="nav-link " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Food</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">MedKit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Pokemons</a>
                    </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <ul class="list-group body-story">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                           <a>Food</a>
                                        </div>
                                        <div class="col">
                                            <a>Name</a>
                                        </div>
                                        <div class="col">
                                            <a>Cost</a>
                                        </div>
                                        <div class="col">
                                            <a>Qnt</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <img src="images/orange.gif" class="food">
                                        </div>
                                        <div class="col">
                                            <a>Orange</a>
                                        </div>
                                        <div class="col">
                                            <a>50 $</a>
                                        </div>
                                        <div class="col">
                                           <input class="form-control form-control-sm" type="number" placeholder="-">
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <img src="images/fastfood.png" class="food">
                                        </div>
                                        <div class="col">
                                            <a>Fast Food</a>
                                        </div>
                                        <div class="col">
                                            <a>150 $</a>
                                        </div>
                                        <div class="col">
                                           <input class="form-control form-control-sm" type="number" placeholder="-">
                                        </div>
                                     </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <img src="images/japoneses_food.png" class="food">
                                        </div>
                                        <div class="col">
                                            <a>Japoneses Food</a>
                                        </div>
                                        <div class="col">
                                            <a>450 $</a>
                                        </div>
                                        <div class="col">
                                           <input class="form-control form-control-sm" type="number" placeholder="-">
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <img src="images/pancake.gif" class="food">
                                        </div>
                                        <div class="col">
                                            <a>Pancake</a>
                                        </div>
                                        <div class="col">
                                            <a>200 $</a>
                                        </div>
                                        <div class="col">
                                           <input class="form-control form-control-sm" type="number" placeholder="-">
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <img src="images/ramen.png" class="food">
                                        </div>
                                        <div class="col">
                                            <a>Ramen</a>
                                        </div>
                                        <div class="col">
                                            <a>170 $</a>
                                        </div>
                                        <div class="col">
                                           <input class="form-control form-control-sm" type="number" placeholder="-">
                                        </div>
                                    </div>
                                </li>
                                 <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <img src="images/rocombole.png" class="food">
                                        </div>
                                        <div class="col">
                                            <a>Roulade</a>
                                        </div>
                                        <div class="col">
                                            <a>100 $</a>
                                        </div>
                                        <div class="col">
                                           <input class="form-control form-control-sm" type="number" placeholder="-">
                                        </div>
                                     </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                              <ul class="list-group body-story">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                           <a>MedKit</a>
                                        </div>
                                        <div class="col">
                                            <a>Name</a>
                                        </div>
                                        <div class="col">
                                            <a>Cost</a>
                                        </div>
                                        <div class="col">
                                            <a>Qnt</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <img src="images/bandaid.gif" class="food">
                                        </div>
                                        <div class="col">
                                            <a>Band-Aid</a>
                                        </div>
                                        <div class="col">
                                            <a>30 $</a>
                                        </div>
                                        <div class="col">
                                           <input class="form-control form-control-sm" type="number" placeholder="-">
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <img src="images/potion1.png" class="food">
                                        </div>
                                        <div class="col">
                                            <a>Super Elixir</a>
                                        </div>
                                        <div class="col">
                                            <a>150 $</a>
                                        </div>
                                        <div class="col">
                                           <input class="form-control form-control-sm" type="number" placeholder="-">
                                        </div>
                                     </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <img src="images/potion2.png" class="food">
                                        </div>
                                        <div class="col">
                                            <a>Mega Elixir</a>
                                        </div>
                                        <div class="col">
                                            <a>300 $</a>
                                        </div>
                                        <div class="col">
                                           <input class="form-control form-control-sm" type="number" placeholder="-">
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                            <img src="images/potion3.png" class="food">
                                        </div>
                                        <div class="col">
                                            <a>Ultra Elixir</a>
                                        </div>
                                        <div class="col">
                                            <a>450 $</a>
                                        </div>
                                        <div class="col">
                                           <input class="form-control form-control-sm" type="number" placeholder="-">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <ul class="list-group body-story">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                           <a>First Generation Edition</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item row-store-pokemon">
                                    <div class="row">
                                        <div class="col">
                                            <img src="images/pidgeyV1.gif" class="gif_pet_loja"></br>
                                            <a>Pidgey</a></br>
                                            <a>1000$</a>
                                        </div>
                                        <div class="col">
                                            <img src="images/abraV1.gif" class="gif_pet_loja"></br>
                                            <a>Abra</a></br>
                                            <a>2000$</a>
                                        </div>
                                        <div class="col">
                                            <img src="images/machopV1.gif" class="gif_pet_loja"></br>
                                            <a>Machop</a></br>
                                            <a>3000$</a>
                                        </div>
                                        <div class="col">
                                          <img src="images/gastlyV1.gif" class="gif_pet_loja"></br>
                                            <a>Gastly</a></br>
                                            <a>4000$</a>
                                        </div>
                                         <div class="col">
                                            <img src="images/bellsproutV1.gif" class="gif_pet_loja"></br>
                                            <a>Bellsprout</a></br>
                                            <a>2500$</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                           <a>Second Generation Edition</a>
                                        </div>
                                     </div>
                                </li>
                                <li class="list-group-item row-store-pokemon">
                                    <div class="row">
                                            <div class="col">
                                                <img src="images/elekidV1.gif" class="gif_pet_loja"></br>
                                                <a>Elekid</a></br>
                                                <a>1000$</a>
                                            </div>
                                            <div class="col">
                                                <img src="images/hoppipV1.gif" class="gif_pet_loja"></br>
                                                <a>Hoppip</a></br>
                                                <a>2000$</a>
                                            </div>
                                            <div class="col">
                                                <img src="images/larvitarV1.gif" class="gif_pet_loja"></br>
                                                <a>Lavitar</a></br>
                                                <a>3000$</a>
                                            </div>
                                            <div class="col">
                                            <img src="images/magbyV1.gif" class="gif_pet_loja"></br>
                                                <a>Magby</a></br>
                                                <a>4000$</a>
                                            </div>
                                        </div>
                                </li>
                                 <li class="list-group-item">
                                    <div class="row">
                                        <div class="col">
                                           <a>Legendary Edition</a>
                                        </div>
                                     </div>
                                </li>
                                <li class="list-group-item row-store-pokemon">
                                    <div class="row">
                                            <div class="col">
                                                <img src="images/enteiV1.gif" class="gif_pet_loja"></br>
                                                <a>Entei</a></br>
                                                <a>10000$</a>
                                            </div>
                                            <div class="col">
                                                <img src="images/articunoV1.gif" class="gif_pet_loja"></br>
                                                <a>Articuno</a></br>
                                                <a>20000$</a>
                                            </div>
                                            <div class="col">
                                                <img src="images/ho-ohV1.gif" class="gif_pet_loja"></br>
                                                <a>Ho-oh</a></br>
                                                <a>35000$</a>
                                            </div>
                                            <div class="col">
                                            <img src="images/suicuneV1.gif" class="gif_pet_loja"></br>
                                                <a>Suicune</a></br>
                                                <a>50000$</a>
                                            </div>
                                            <div class="col">
                                            <img src="images/mewtwoV1.gif" class="gif_pet_loja"></br>
                                                <a>Mewtwo</a></br>
                                                <a>60000$</a>
                                            </div>
                                        </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                <div class="modal-footer">
                    <a class="cost">Cost: 150$</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel Buy</button>
                    <button type="button" class="btn btn-primary">Buy</button>
                </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/tamagotchi.js"></script>
    </body>
</html>