<!DOCTYPE html>
<html>
    <body>
        <div class="my-container">
            <img src="images/ambient.gif" class="gif">
                <center class="my-form">
                <a class="button-exit-tamagotchi" onClick="logout()"><i class="fa fa-sign-out fa-lg" aria-hidden="true"></i></a>
                    <div class="div-status-bar">
                    <ul class="status-bar">
                        <li class="status">
                            <label for="health">HEALTH</label></br>
                            <progress value="100" max="100" id="health"></progress>
                        </li>
                         <li class="status">
                            <label for="happy">HAPPY</label></br>
                            <progress value="100" max="100" id="happy"></progress>
                        </li>
                        <li class="status">
                            <label for="hunger">HUNGER</label></br>
                            <progress value="100" max="100" id="hunger"></progress>
                        </li>
                         <li class="status">
                            <label for="tired">TIRED</label></br>
                            <progress value="100" max="100" id="energy"></progress>
                        </li>
                        <li class="status">
                            <label for="higiene">HIGIENE</label></br>
                            <progress value="100" max="100" id="higiene"></progress>
                        </li>
                    </ul>
                    </div>
                    <img class="gif-tamagotchi" id="pet">
                    <a class="name-pet"id="name"></a>
                     <div class="div-buttons">
                        <button class="button-circle" id="food" data-container="body" data-toggle="popover" data-placement="top"><i class="fa fa-cutlery fa-lg" aria-hidden="true"></i></button>
                        <button class="button-circle"><i class="fa fa-bath fa-lg" aria-hidden="true"></i></button>
                        <button class="button-circle"><i class="fa fa-bed fa-lg" aria-hidden="true"></i></button>
                      <a href='/menu'><button class="button-circle-menu"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button></a>
                        <button class="button-circle"><i class="fa fa-gamepad fa-lg" aria-hidden="true"></i></button>
                        <button class="button-circle" id="info" data-container="body" data-toggle="popover" data-placement="top"><i class="fa fa-info fa-lg" aria-hidden="true"></i></button>
                        <button onclick="control_sound()" class="button-circle"><i class="fa fa-volume-off" aria-hidden="true"></i></button>
                    </div>
                <center>
                <div id="header-info" class="collapse">
                    <div class="header-pop">
                        <a>Info</a>
                    </div>
                </div>
                <div id="body-info" class="collapse">
                    <a class="font-pop">Name:&nbsp;</a>
                    <a class="font-pop"id="name1"></a></br>
                    <a class="font-pop">Stage:&nbsp;</a>
                    <a class="font-pop"id="state"></a></br>
                    <a class="font-pop">Weight: &nbsp;</a>
                    <a class="font-pop"id="weight"></a></br>
                    <a class="font-pop">Age: &nbsp;</a>
                    <a class="font-pop"id="age"></a>
                    <a class="font-pop">Days</a>
                </div>
                <div id="header-food" class="collapse">
                    <div class="header-pop">
                        <a>Food</a>
                    </div>
                </div>
                <div id="body-food" class="collapse">
                    <div class="body-food">
                        <img src="images/1.png" id="donuts" class="food" data-toggle="tooltip" data-placement="left" title="donuts">
                        <img src="images/2.png" id="pie" class="food" data-toggle="tooltip" data-placement="left" title="pie">
                        <img src="images/3.jpg" id="cake" class="food" data-toggle="tooltip" data-placement="left" title="cake">
                    </div>
                </div>
        </div>
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/tamagotchi.js"></script>
    </body>
</html>