<!DOCTYPE html>
<html>
    <body>
        <div class="container">
            <img src="images/ambient.gif" class="gif">
                <center class="form">
                    <div class="div-status-bar">
                    <ul class="status-bar">
                        <li class="status">
                            <label for="health">HEALTH</label></br>
                            <progress value="100" max="100" id="health"></progress>
                        </li>
                         <li class="status">
                            <label for="happy">HAPPY</label></br>
                            <progress value="100" max="100" id="happy"></progress>
                        </li>
                        <li class="status">
                            <label for="hunger">HUNGER</label></br>
                            <progress value="100" max="100" id="hunger"></progress>
                        </li>
                         <li class="status">
                            <label for="tired">TIRED</label></br>
                            <progress value="100" max="100" id="energy"></progress>
                        </li>
                        <li class="status">
                            <label for="higiene">HIGIENE</label></br>
                            <progress value="100" max="100" id="higiene"></progress>
                        </li>
                    </ul>
                    </div>
                    <img class="gif-tamagotchi" id="pet">
                     <div class="div-buttons">
                        <button class="button-circle"><i class="fa fa-cutlery fa-lg" aria-hidden="true"></i></button>
                        <button class="button-circle"><i class="fa fa-bath fa-lg" aria-hidden="true"></i></button>
                        <button class="button-circle"><i class="fa fa-bed fa-lg" aria-hidden="true"></i></button>
                      <a href='/menu'><button class="button-circle-menu"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button></a>
                        <button class="button-circle"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></button>
                        <button class="button-circle"><i class="fa fa-gamepad fa-lg" aria-hidden="true"></i></button>
                        <button class="button-circle"><i class="fa fa-info fa-lg" aria-hidden="true"></i></button>
                    </div>   
                <center>
        </div>
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/tamagotchi.js"></script>
    </body>
</html>