.my-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.gif {
    width: 700px;
    height: 700px;
    border-radius: 13px;
}
 
.my-form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.my-form1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 604px;
    height: 604px;
    border-radius: 15px;
    opacity: 0.8;
    background-color: black;
}

.title {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    color: rgb(89, 89, 89);
    margin-bottom: 150px;
}

.title-index{
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    color: white !important;
    position: relative;
    top: 30px;
    left: 15px;

}
 
.title-mypets {
    position: fixed;
    top: 40px;
}

.my-body {
    margin: 0;
}
 
p {
    font-size: 17px; 
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    color: rgb(128, 128, 128);
}

.c-link{
    position: fixed;
    bottom: 30px;
    left: 208px;
}
a:link {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

a:active {
    color: green;
    text-decoration: none;
    border:none;
}

input {
    border: none;
    border-bottom: 1px solid rgb(128, 24, 24);
    margin-top: 12px;
    padding: 6px;
    background-color: transparent;
    top:30px;
    outline-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: white;
}
 
.my-button {
    border: 1px solid rgb(149, 146, 146);
    border-radius: 6px;
    outline: none;
    padding: 6px 17px;
    margin-top: 25px;
    opacity: 0.5;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: rgb(222, 222, 222);
    box-shadow: 1px 4px black;
}

.my-button-form{
    border: 1px solid rgb(149, 146, 146);
    border-radius: 6px;
    outline: none;
    padding: 6px 17px;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
}

.my-button-form:active{
    border: 1px solid rgb(149, 146, 146);
    border-radius: 6px;
    outline: none;
    padding: 6px 17px;
    margin-top: 29px;
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 4.2px  rgb(42, 41, 41);
    background-color: rgb(255, 255, 255);
    color: black;
}

.wallpaper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.div-status-bar {
    width: 701px;
    height: 125px;
    background: linear-gradient(to top, rgba(255,0,0,0), rgb(109, 109, 109));
    border-radius: 13px;
    position: absolute;
    top: -276px;
    left: 0px;
}
 
.div-buttons {
    width: 701px;
    height: 100px;
    background: linear-gradient(to bottom, rgba(255,0,0,0), rgb(109, 109, 109));
    border-radius: 13px;
    position: relative;
    bottom: -275px;
}

.button-circle {
    background-color: #acaaaa;
    opacity: 0.7;
    height: 30px;
    width: 30px;
    border: 1px solid #d0d0d0;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    text-align: center;
    outline: none;
    position: relative;
    top: 28px;
}

.button-circle:hover {
    background-color: #edeaea;
    height: 30px;
    width: 30px;
    border: 1px solid #d0d0d0;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    text-align: center;
    outline: none;
    position: relative;
    top: 28px;
}

.button-circle:active {
    background-color: #acaaaa;
    opacity: 0.7;
    height: 30px;
    width: 30px;
    border: 1px solid #d0d0d0;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    text-align: center;
    outline: none;
    position: relative;
    top: 22px;
}

.button-circle-menu {
    background-color: #acaaaa;
    opacity: 0.7;
    height: 40px;
    width: 40px;
    border: 1px solid #d0d0d0;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    outline: none;
    position: relative;
    top: 28px;
}

.button-circle-menu:hover {
    background-color: #edeaea;
    height: 40px;
    width: 40px;
    border: 1px solid #d0d0d0;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    text-align: center;
    outline: none;
    position: relative;
    top: 28px;
}


.size {
    font-size: 8px;
}
 
.my-button:hover {
    opacity: 0.8;
    background-color: rgb(247, 244, 244);
    color: black;
}

.my-button:active {
    opacity: 0.8;
    background-color: rgb(247, 244, 244);
    color: black;
    margin-top: 20px;
}
 
.btn-menu:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    opacity: 0.8;
}

.btn-menu {
    border: 1px solid rgb(149, 146, 146);
    border-radius: 6px;
    outline: none;
    width: 177px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 17px;
    opacity: 0.5;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 1px 6px black;
}

.btn-menu:active {
    border-radius: 6px;
    outline: none;
    width: 177px;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 17px;
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;
    color: black;
    background-color: rgb(183, 182, 182);
    box-shadow: 2px 3px  rgb(23, 23, 23);
}

.button-exit {
    outline: none;
    position: relative;
    top: 1px;
    left: 195px;
    color:#c3c4c6 !important;
}

.button-exit-pet {
    outline: none;
    position: relative;
    top: -135px;
    left: 320px;
    color:#212529 !important;
}

.button-exit-pets{
    outline: none;
    position: relative;
    top: -126px;
    left: 320px;
    color:#212529 !important;
}

.button-exit-tamagotchi{
    outline: none;
    position: relative;
    top: -279px;
    left: 320px;
    color:#2f2f30 !important;
    z-index: 1;
}

.button-exit-menu {
    outline: none;
    position: relative;
    top: -173px;
    left: 320px;
    color:#212529 !important;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    margin-top: 3px;
    color: white;
}
 
.login {
    margin-top: 222px;
}
 
.label_pet {
    margin-top: 50px
}

.input_pet {
    color: green;
}
 
a:link { 
    text-decoration:none; 
}

a{
    color: #0d0f10;
    background-color: transparent;
}
 
.box {
    background-color: rgb(60, 60, 60);
    width: 700px;
    height: 700px;
    border-radius: 13px;
}

.avatar {
    width: 30px;
    border-radius:50%;
}

.my-list-group {
    display:-ms-flexbox;
    display:block;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar;
    -ms-flex-direction:column;
    flex-direction:column;
    padding-left:0;
    margin-bottom:0;
    border: none;
    border-radius: 5px;
    background-color: rgb(72, 71, 71);
    box-shadow: 2px 5px  rgb(42, 41, 41);
    max-height:421px;
}

.my-list-group-item {
    position:relative;
    display:block;
    padding: 1.75rem 3.25rem;
    margin-bottom:-1px;
    box-shadow: 0px 2.2px  rgb(42, 41, 41);
}
 
::-webkit-scrollbar {
    width: 5px;
    border-radius: 2px;
}
 
::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 2px;
}

::-webkit-scrollbar:hover {
    width: 5px;
    border-radius: 2px;
}
 
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(42, 41, 41);
    border-radius: 2px;
}
 
.gif_pet {
    margin-right: 23px;
    margin-left: 12px;
    width:82px;
}

.gif_pet1 {
    margin-right: 23px;
    margin-left: 12px;
    width:53px;
}

.gif_pet2 {
    margin-right: 48px;
    margin-left: 42px;
    width:53px;
}

.pet_list {
    right: 20px;
    width: 100px;
    height: 300px;
}

.image-pet-ranked {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    color: rgb(149, 146, 146);
    text-align: left;
    margin-top: 20px;
    margin-bottom: 15px; 
    text-overflow: ellipsis;
}

.my-col {
    -ms-flex-preferred-size:0;
    flex-basis:0;
    -ms-flex-positive:1;
    flex-grow:1;
    max-width:100%;
    height: 50px;
}

.my-row {
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right: 0px;
    margin-left: 0px;
}
 
.infopet{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    color: rgb(149, 146, 146);
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.infopet-gif {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    color: rgb(149, 146, 146);
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 140px;
    text-overflow: ellipsis;
}

.infopet-ranking {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    color: rgb(149, 146, 146);
    text-align: left;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 135px; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: 275px;
}

.line-infopet {
    margin-bottom: 5px;
}
 
.status-bar {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border-radius: 4px;
    position: absolute;
    left: 36px;
    bottom: 12px;
}

.status {
    border-radius: 4px;
    float: left;
    margin-left: 18px;
    margin-right: 30px;
    margin-top: 20px;
}
 
label {
    text-align: center;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    color: rgb(40, 39, 39);
}

progress {
    border: 0;
    height: 5px;
    width: 80px;
}
 
progress::-webkit-progress-bar {
    border: 0;
    height: 5px;
    width: 60px;
    color: rgb(91, 22, 22);
}

progress::-webkit-progress-value {
    border: 0;
    height: 5px;
    width: 60px;
    color: rgb(70, 70, 70);
 
}
 
progress::-moz-progress-bar {
    border: 0;
    height: 5px;
    width: 60px;
    position: relative;
    color: rgb(119, 22, 22);
}

 
.gif-tamagotchi {
    width: 210px;
    height: 210px;
    position: absolute;
    right: 226px;
    top: 3px;
}

.select_pet:hover {
    background-color: rgba(203, 208, 216, 0.5);
    /* opacity: 0.5; */
    border-radius: 5px;
}

.select_pet {
    padding: 10px;
}

.selected_pet {
    background-color: rgba(203, 208, 216, 0.5);
    /* opacity: 0.5; */
    border-radius: 5px;
}

.button-muted {
    background-color: #acaaaa;
    opacity: 0.7;
    height: 30px;
    width: 30px;
    border: 1px solid #d0d0d0;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    text-align: center;
    outline: none;
    position: relative;
    left: 42.4%;
    left: 84%;
    z-index: 1;
}

.my-pets_list{
    display:-ms-flexbox;
    display:block;
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    -ms-overflow-style:-ms-autohiding-scrollbar;
    -ms-flex-direction:column;
    flex-direction:column;
    padding-left:0;
    margin-bottom:0;
    border: none;
    border-radius: 5px;
    background-color: rgb(72, 71, 71);
    box-shadow: 2px 5px  rgb(42, 41, 41);
    max-height: 361px;
}

.food{
    width: 20px;
    height: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.food:hover{
    width: 20px;
    height: 20px;
    background-color: rgba(203, 208, 216, 0.5);
    border-radius: 3px;
    border: 1px solid rgba(137, 137, 137, 0.5);
    padding: 3px;
}

.food:active{
    width: 20px;
    height: 20px;
    background-color: rgba(203, 208, 216, 0.5);
    border-radius: 3px;
    border: 1px solid rgba(137, 137, 137, 0.5);
    padding: 3px;
}

.list-food{
    position: relative;
    bottom: 15px;
    padding: 6px 4px 6px 4px;
    background-color: rgba(203, 208, 216, 0.5);
    width: 116px;
    height:19px;
    border-radius: 8px;
}

.name-pet {
    position: relative;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    color: rgb(181, 176, 176) !important;
    bottom: -211px;
    z-index: 2;
    font-size: 34px;
}

.header-pop {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.font-pop{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.body-food{
    display:-ms-flexbox !important;
    display:block;
    overflow-y:auto !important;
    -webkit-overflow-scrolling:touch !important;
    -ms-overflow-style:-ms-autohiding-scrollbar !important;
    -ms-flex-direction:row !important;
    flex-direction:row !important;
    max-height: 50px;
}

.gif-sleeping{
    width: 210px;
    height: 210px;
    position: absolute;
    right: 150px;
    top: -120px;
    display: none;
}